{% extends 'main/header.html' %}


{% block content %}
    <div class="parallax-container">
        <div class="parallax">
            {% load static %}
            <img src={% static business.cover_picture  %}  alt='Cover Image'>
        </div>
    </div>

    <script>M.toast({html: "{{business.name}}!", classes: 'green', displayLength:2000});</script>
    
   
    <div class='container'>
        <div class="section white">
            <div class="row container">
                <h2 class="header">{{business.name}}</h2>
                <h6 style="font-family:Monaco"">{{ business.city }}</h6>
                    <p class="grey-text text-darken-3 lighten-3">
                    {{ business.description }}
                    </p>
            </div>

            <div class="col s12 m6 l4">

                <div class="container">
                    {% load static %}
                    <img class="materialboxed" width="650" src={% static business.cover_picture %}>
                </div>

                <br>
                <br>

                <div class="row">

                    <div class="col s4">
                        <i class="medium material-icons">insert_chart</i>
                        <h5 style="font-size:1.5rem">Calificación</h5>
                        <div class="col s3">
                            <div class="card-panel teal">
                                <span class="white-text" style="font-size:1.4rem">{{business.rating}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col s4">
                        <i class="medium material-icons">network_check</i>
                        <h5 style="font-size:1.5rem">Internet</h5>
                        <div class="col s3">
                            <div class="card-panel teal">
                                <span class="white-text" style="font-size:1.4rem">{{business.internet_quality}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col s4">
                        <i class="medium material-icons">people</i>
                        <h5 style="font-size:1.5rem">Capacidad</h5>
                        <div class="col s3">
                            <div class="card-panel teal">
                                <span class="white-text" style="font-size:1.4rem">{{business.capacity}}</span>
                            </div>
                        </div>
                    </div>
                    
                </div>
                    
                    
                </a>

            </div>
            
        </div>
    </div>

{% endblock %}