<head>
    {% load static %}

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="{% static '/main/css/materialize.css' %}">
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
  {% include "main/includes/navbar.html" %}
  {% include "main/includes/messages.html" %}
  
  <!--Actual Content is wrapped here-->
  <div class="container">
    <br>
    {% block content %}
    {% endblock %}
  </div>
</body>

<footer>
    <div>End Of Page (c)2022</div>
</footer>